<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="../../public/js/index.js"></script>
  <script type="text/javascript" src="../../public/js/api.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>

  {{{body}}}
  
</body>

</html>
