#container {
  position: relative;
  margin: 2%;
  float: left;
  background-color: lightseagreen;
  width: 47%;
}

h1 {
  text-align: center;

  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  color: green;
}

body {
  background: url("https://image.freepik.com/darmowe-zdjecie/abstrakcyjne-t%C5%82o-techno-z-po%C5%82%C4%85czenia-linii_1048-5690.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Title for the map legend */
.datamaps-legend {
  color: yellow;
  background-color: black;
  width: 100%;
  height: 10%;
}

/* Style for the legend text */
.datamaps-legend dt,
.datamaps-legend dd {
  font-size: 12px;
  color: yellow;
  background-color: black;
}

.buttons {
  display: inline-block;
  justify-content: center;
  margin: auto;
  width: 49%;
  background-color: yellow;
  font-weight: bold;
  position: relative;
}

/* #buttonsParent {
  color: yellow;
  background-color: black;
  width: 47%;
  height: 6%;
  margin: 2%;
  float: left;
  text-align: center;
  font-size: 12px;
  position: relative;
} */

.chart {
  width: 47%;
  float: right;
}

